@import url(bootstrap.min.css);
@import url(icon.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
.fs-10 {
  font-size: 10px; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.fs-13 {
  font-size: 13px; }

.fs-14 {
  font-size: 14px; }

.fs-15 {
  font-size: 15px; }

.fs-16 {
  font-size: 16px; }

.fs-17 {
  font-size: 17px; }

.fs-18 {
  font-size: 18px; }

.fs-19 {
  font-size: 19px; }

.fs-20 {
  font-size: 20px; }

.fs-21 {
  font-size: 21px; }

.fs-22 {
  font-size: 22px; }

.fs-23 {
  font-size: 23px; }

.fs-24 {
  font-size: 24px; }

.fs-25 {
  font-size: 25px; }

.fs-26 {
  font-size: 26px; }

.fs-27 {
  font-size: 27px; }

.fs-28 {
  font-size: 28px; }

.fs-29 {
  font-size: 29px; }

.fs-30 {
  font-size: 30px; }

.fs-31 {
  font-size: 31px; }

.fs-32 {
  font-size: 32px; }

.fs-33 {
  font-size: 33px; }

.fs-34 {
  font-size: 34px; }

.fs-35 {
  font-size: 35px; }

.fs-36 {
  font-size: 36px; }

.fs-37 {
  font-size: 37px; }

.fs-38 {
  font-size: 38px; }

.fs-39 {
  font-size: 39px; }

@font-face {
  font-family: conan;
  src: url(coconnextarabic-light.ttf); }
.color-mainColor {
  color: #30BFFF !important; }

.color-darkColor {
  color: #403B41 !important; }

.color-lightBlueColor {
  color: #80D8FF !important; }

.cuts-card, .products-card, .trademarks-link, .social-footer li a:hover, .order-steps .order-step-container .order-step-img, .navbar-light, .person-card-img-container {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.37); }

.ellipsis, .cuts-card .cuts-card-content p, .products-card a.products-card-link, .seller-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ellipsis {
  display: block; }

.fw-500 {
  font-weight: 500 !important; }

.fw-600 {
  font-weight: 600 !important; }

body {
  font-family: conan, 'sans-serif'; }

.btn-dark {
  background-color: #7A767A;
  border-color: #7A767A; }
  .btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124; }

.btn-info {
  background-color: #80D8FF; }
  .btn-info:hover {
    background-color: #30BFFF;
    border-color: #30BFFF; }

.show > .btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled):active {
  background-color: #30BFFF;
  border-color: #30BFFF; }

a {
  transition: all ease-in-out 0.3s;
  text-decoration: none !important; }

.top-bar {
  padding: 10px;
  background-color: #403B41;
  color: white; }
  .top-bar .top-logo img {
    max-height: 90px;
    width: auto; }

.search-container {
  position: relative; }
  .search-container .form-control {
    border: 1px solid white;
    padding-right: 110px; }
  .search-container .search-select {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer; }
    .search-container .search-select i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 8px; }
    .search-container .search-select select {
      padding-right: 10px;
      padding-left: 10px;
      background-color: transparent;
      border: 0;
      color: white;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      cursor: pointer; }
      .search-container .search-select select option {
        background-color: #403B41; }
  .search-container .search-button {
    position: absolute;
    right: 0;
    top: 50%;
    border: 0;
    outline: none;
    transform: translateY(-50%);
    background-color: transparent;
    display: flex;
    height: 100%;
    width: 40px;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 17px; }
  .search-container input {
    background-color: transparent !important;
    color: white !important; }
    .search-container input::placeholder {
      color: rgba(255, 255, 255, 0.5); }

.top-cart {
  display: inline-block;
  position: relative;
  padding-top: 11px; }
  .top-cart img {
    width: 29px; }
  .top-cart span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    display: block;
    width: 17px;
    height: 17px;
    background-color: #30BFFF;
    color: white;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    transition: all ease-in-out 0.3s; }
  .top-cart a:hover span {
    transform: translateX(-50%) scale(1.1); }

.top-right-container .my-store-link {
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px; }
  .top-right-container .my-store-link:hover {
    background-color: #fff;
    color: #403B41; }
.top-right-container .fav-link {
  display: flex;
  align-items: center;
  justify-content: center; }
  .top-right-container .fav-link span {
    font-size: 28px; }
    .top-right-container .fav-link span.path1:before {
      transition: all ease-in-out 0.3s; }
  .top-right-container .fav-link:hover .path1:before {
    color: #ff3030;
    opacity: 1; }

.my-select {
  position: relative; }
  .my-select i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px; }
  .my-select select {
    padding-right: 10px;
    padding-left: 10px;
    background-color: transparent;
    border: 0;
    color: white;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer; }
    .my-select select option {
      background-color: #403B41; }

.navbar {
  position: relative; }
  .navbar .nav-item a.nav-link {
    font-size: 20px;
    color: #403B41; }
    @media (max-width: 1199.98px) {
      .navbar .nav-item a.nav-link {
        text-align: center; } }
    .navbar .nav-item a.nav-link:hover {
      color: #30BFFF; }
  .navbar .navbar-brand {
    position: absolute;
    right: 15px;
    top: 6px; }

.dropdown-toggle::after {
  vertical-align: middle; }

.price-drop span {
  font-size: 18px;
  line-height: 35px; }

.slider img {
  height: calc(100vh - 172px);
  object-fit: cover; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%333' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%333' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 40%; }

.carousel-caption h5 {
  font-size: 50px;
  margin-bottom: 0; }
.carousel-caption p {
  font-size: 40px;
  margin-top: 0; }

.carousel-item:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.banner {
  position: relative; }
  .banner h4 {
    padding: 5px 20px;
    background-color: white;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px; }
  .banner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #403B41; }

.best-seller-container {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.37);
  transition: all ease-in-out 0.3s;
  border-radius: 15px; }
  .best-seller-container:hover {
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.5); }
  .best-seller-container a {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in-out 0.3s; }
    .best-seller-container a:hover:before {
      opacity: 1;
      background: black;
      background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 75%); }
    .best-seller-container a:before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      content: '';
      display: block;
      background: black;
      background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 75%);
      opacity: 0.9;
      transition: all ease-in-out 0.3s; }
    .best-seller-container a img {
      width: 100%;
      border-radius: 15px;
      height: 410px;
      object-fit: cover; }
    .best-seller-container a .best-seller-caption {
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 80%; }
      .best-seller-container a .best-seller-caption p {
        color: white;
        margin-bottom: 0px;
        font-size: 20px; }
        .best-seller-container a .best-seller-caption p:last-child {
          margin-bottom: 0; }

.cuts-card {
  display: block;
  border-radius: 15px;
  overflow: hidden; }
  .cuts-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; }
  .cuts-card .cuts-card-content {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    background-color: #f5f5f5;
    position: relative;
    padding-right: 55px; }
    .cuts-card .cuts-card-content .add-card {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #30BFFF;
      text-align: center;
      width: 50px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      padding: 10px 0; }
      .cuts-card .cuts-card-content .add-card span {
        font-size: 25px; }
    .cuts-card .cuts-card-content p {
      margin: 0;
      color: #403B41;
      font-size: 20px; }

.owl-carousel .item {
  padding: 15px; }
.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  .owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    outline: none;
    background-color: rgba(48, 191, 255, 0.8) !important;
    color: white !important;
    font-size: 35px !important;
    position: absolute;
    z-index: 10;
    transition: all ease-in-out 0.3s; }
    .owl-carousel .owl-nav button span {
      line-height: 5px;
      margin-bottom: 3px; }
    .owl-carousel .owl-nav button.owl-prev {
      top: 0;
      left: -20px; }
    .owl-carousel .owl-nav button.owl-next {
      top: 0;
      right: -20px; }
    .owl-carousel .owl-nav button:not(.disabled):hover {
      background-color: #30bfff !important; }

.products-card {
  display: block;
  border-radius: 15px;
  overflow: hidden; }
  .products-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; }
  .products-card a.products-card-link {
    display: block;
    background-color: #30BFFF;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px; }
    .products-card a.products-card-link:hover {
      background-color: #403B41; }

.products-age-card.best-seller-container {
  overflow: hidden; }
  .products-age-card.best-seller-container a:before {
    display: none; }
  .products-age-card.best-seller-container .products-age-card-caption {
    position: absolute;
    left: 0;
    padding: 10px 20px;
    background-color: #30BFFF;
    color: white;
    bottom: 0;
    text-align: center;
    font-size: 20px; }
  .products-age-card.best-seller-container img {
    object-position: top;
    height: 450px; }

.step-section {
  padding: 50px 0;
  background-color: #f5f5f5; }
  .step-section .steps-card {
    text-align: center;
    position: relative; }
    .step-section .steps-card h4 {
      margin: 0; }
    .step-section .steps-card p {
      margin: 0; }
    .step-section .steps-card img {
      height: 80px;
      width: auto;
      margin-bottom: 15px; }
  @media (min-width: 992px) {
    .step-section .row .col-lg-3:not(:last-child) .steps-card:before {
      content: '';
      position: absolute;
      right: -15px;
      height: 100%;
      display: block;
      width: 1px;
      background-color: #707070; } }
  @media (max-width: 1199.98px) {
    .step-section .row .col-lg-3:not(:last-child) .steps-card {
      margin-bottom: 40px; }
      .step-section .row .col-lg-3:not(:last-child) .steps-card:before {
        display: none; } }

.trademarks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  height: 150px;
  width: 180px; }
  .trademarks-link img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto !important; }

footer {
  padding: 30px 0;
  background-color: #403B41; }
  footer .footer-list a {
    color: white;
    text-transform: capitalize; }
    footer .footer-list a:hover {
      color: #30BFFF; }

.social-footer {
  text-align: center; }
  .social-footer li a {
    border-radius: 50%;
    display: block; }
    .social-footer li a img {
      width: 40px;
      height: auto; }

.payment-methods-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .payment-methods-list li {
    border-radius: 9px;
    border: 3px solid #30BFFF;
    background-color: white;
    padding: 5px;
    text-align: center;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: center; }
    .payment-methods-list li img {
      width: 70px;
      max-width: 100%;
      height: auto;
      max-height: 100%; }

.main-btn {
  background-color: #30BFFF;
  color: white; }
  .main-btn:hover {
    background-color: #80D8FF; }

.order-steps {
  overflow: hidden; }
  .order-steps .row .col-lg:not(:last-child) .order-step-img:before {
    position: absolute;
    right: -210%;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 10px;
    background-color: #403B41;
    width: 225%;
    z-index: -1; }
    @media (max-width: 767.98px) {
      .order-steps .row .col-lg:not(:last-child) .order-step-img:before {
        width: 180%;
        right: -177%; } }
  .order-steps .row .col-lg:last-child .order-step-container.active .order-step-img {
    background-color: #FF0606; }
  .order-steps .row .col-lg:nth-last-child(2) .order-step-container.active .order-step-img {
    background-color: #1BC70F; }
  .order-steps .row .col-lg:nth-last-child(3) .order-step-container.active .order-step-img {
    background-color: #F2AF13; }
  .order-steps .order-step-container {
    margin-bottom: 25px; }
    .order-steps .order-step-container .order-step-img {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: #403B41;
      border-radius: 50%;
      position: relative; }
      .order-steps .order-step-container .order-step-img img {
        height: 40px;
        width: auto; }
    .order-steps .order-step-container h4 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 600; }
    .order-steps .order-step-container p {
      margin: 0;
      font-size: 17px; }
    .order-steps .order-step-container.active .order-step-img {
      background-color: #30BFFF; }
      .order-steps .order-step-container.active .order-step-img:before {
        background-color: #30BFFF !important; }

.my-breadcrumb {
  padding: 0 25px; }
  .my-breadcrumb ul {
    display: flex;
    align-items: center; }
    .my-breadcrumb ul li {
      display: flex;
      color: #30BFFF; }
      .my-breadcrumb ul li:first-child a {
        color: #403B41;
        display: flex;
        align-items: flex-start; }
        .my-breadcrumb ul li:first-child a img {
          height: 18px;
          margin-right: 5px; }
      .my-breadcrumb ul li a:hover {
        color: #30BFFF; }
      .my-breadcrumb ul li i {
        font-size: 11px;
        margin-right: 3px;
        color: #403B41;
        display: flex;
        align-items: center; }

.navbar-light {
  background-color: white !important; }

.my-card {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-bottom: 15px; }

.order-price {
  font-size: 30px;
  font-weight: 600; }

.link-img img {
  height: 20px;
  width: auto;
  margin-right: 3px; }

.dark-link {
  color: #403B41; }
  .dark-link:hover {
    color: #30BFFF; }

.person-card-img-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%; }
  .person-card-img-container img {
    height: 40px;
    width: auto;
    border-radius: 50%; }

.seller-name {
  display: block;
  font-size: 20px;
  width: 100%;
  font-weight: 600; }

.order-table tr th {
  white-space: nowrap;
  border-top: 1px solid #7A767A;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.08); }
.order-table tr td {
  vertical-align: middle; }
  .order-table tr td:first-child {
    font-weight: 600;
    white-space: nowrap; }
  .order-table tr td h4 {
    font-size: 19px;
    font-weight: 600;
    white-space: nowrap; }
.order-table .order-img {
  width: 80px;
  height: auto;
  border-radius: 5px; }

.tracking-img {
  transform: rotateY(180deg); }

/*# sourceMappingURL=style.css.map */
